<script>
    import MeetupsItem from "./MeetupsItem.svelte";

    export let meetups;
</script>

<style>
    section {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }

    @media (min-width: 768px) {
        section {
            grid-template-columns: repeat(2, 1fr);
        }
    }
</style>

<section>
    {#each meetups as meetup}
        <MeetupsItem 
            title="{meetup.title}"
            subtitle="{meetup.subtitle}"
            imageUrl="{meetup.imageUrl}"
            description="{meetup.description}"
            email="{meetup.contactEmail}"
            address={meetup.address}
        />
    {/each}
</section>