<style>
    header {
        align-items: center;
        background: #cf0056;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
        display: flex;
        height: 4rem;
        justify-content: center;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
    }
</style>

<header>
    <h1>MeetUs</h1>
</header>
