<script>
    import Header from "./UI/Header.svelte";
    import MeetupGrid from "./Meetups/MeetupGrid.svelte";
    import TextInput from "./UI/TextInput.svelte";
    import Button from "./UI/Button.svelte"

    let title = '';
    let subtitle = '';
    let address = '';
    let email = '';
    let description = '';
    let imageUrl = '';

    let meetups = [
        {
            id: 'm1',
            title: 'Coding Bootcamp',
            subtitle: 'Learn to code in 3 hours',
            description: 'In this meetup, we will have some experts that teach you how to code!',
            imageUrl: 'https://cars.mawdoo3.com/_nuxt/img/header-bg.a34d081.jpg',
            address: '27th Nerd Road, 32422 New York',
            contactEmail: 'jawabra@mail.com',
        },
        {
            id: 'm2',
            title: 'Coding Bootcamp',
            subtitle: 'Learn to code in 4 hours',
            description: 'In this meetup, we will have some experts that teach you how to code!',
            imageUrl: 'https://cars.mawdoo3.com/_nuxt/img/header-bg.a34d081.jpg',
            address: '27th Nerd Road, 32422 New York',
            contactEmail: 'jawabra@mail.com',
        }
    ];

    function addMeetup() {
        const newMeetup = {
            id: Math.random().toString(),
            title,
            subtitle,
            description,
            imageUrl,
            contactEmail: email,
            address,
        };

        meetups = [newMeetup, ...meetups];
    }
</script>

<style>
    main {
        margin-top: 5rem;
    }
    form {
        width: 30rem;
        max-width: 90%;
        margin: auto;
    }
</style>

<Header />

<main>
    <form on:submit|preventDefault="{addMeetup}">
        <TextInput
            id="title"
            label="Title"
            value={title}
            on:input="{(event) => title = event.target.value}"
        />
        <TextInput
            id="subtitle"
            label="Subtitle"
            value={subtitle}
            on:input="{(event) => subtitle = event.target.value}"
        />
        <TextInput
            id="address"
            label="Address"
            value={address}
            on:input="{(event) => address = event.target.value}"
        />
        <TextInput
            id="imageUrl"
            label="Image Url"
            value={imageUrl}
            on:input="{(event) => imageUrl = event.target.value}"
        />
        <TextInput
            id="email"
            label="E-Mail"
            value={email}
            type="email"
            on:input="{(event) => email = event.target.value}"
        />
        <TextInput
            id="description"
            label="Description"
            controlType="textarea"
            value={description}
            on:input="{((event) => description = event.target.value)}"
            rows="{4}"
        />
        <Button type="submit" caption="Save" />
        <!-- <button type="submit"></button> -->
    </form>
    <MeetupGrid {meetups} />
</main>